<html>
    <head>
        <meta charset="UTF-8">   
        <link href="/css/style.css" rel="stylesheet" type="text/css"> 
        <title>Request App</title>
    </head>
    
    <body>
        <header id="header">
                <h1 id="Title">Welcome to RequestApp</h1>
                <p>"A simple app that shows the thents most recent requests and the client IP who originated it" </p>
        </header>
    
        
        <div>
            
            <table>
                <tr>
                    <th>Number of request</th>
                    <th>Client IP</th>
                    <th>TimeStamp</th>
                </tr>

                <% for(var i=0; i<stats.length; i++) {%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= stats[i].ip %></td>
                    <td><%= stats[i].date %></td>
                </tr>
                <% } %>
            </table>
        </div>
    
        
    </body>
    </html>